:root {
  --azul-marino: #0827c9;
  --azul-turquesa: #14cdb3;
  --bottones: #7611ed;
  --text-general: 'Roboto', sans-serif;
  --title-text: 'Lora', serif;
  --bottom-text: 'DM Sans', sans-serif;
}

div .containerAbout {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7611ed;
  /* background-image: linear-gradient(160deg, #0827c9 0%, #80d0c7 100%); */
}

.section_img {
  border: 5px solid #14cdb3;
  width: 100%;
  height: 95%;
  background-image: url('../assets/img/img_recortada_fondo.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 95%;
  background-color: rgb(53, 53, 53, 0.3);
  padding: 0 15px;
}

.section_text .title span {
  font-size: 1.4rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: #14cdb3;
  margin-top: 3px;
  margin-bottom: 1em;
}

.section_text .text_container {
  width: auto;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: rem;
  font-family: 'Montserrat', sans-serif;
}

.section_text article {
  display: flex;
  margin-top: 50px;
}

.barra {
  position: relative;
  width: 3px;
  height: 31px;
  background-color: #14cdb3;
  margin-left: 10px;
}

.frase {
  position: relative;
  width: 80%;
}

.pStyle1 {
  text-align: left;
  color: #b4b2b2;
  font-style: italic;
  font-size: 14px;
  margin: 0 0 0 10px;
}

.pStyle2 {
  text-align: center;
  font-size: small;
  color: #d8d6d6;
  margin: 0;
}

/* Para pantallas de 0px a 375px */
@media screen and (max-width: 375px) {
  .text_container p {
    color: #fff;
    font-size: 55%;
  }
}

/* Para pantallas de 376px a 438px (eliminando redundancia) */
@media screen and (min-width: 375px) {
  .text_container p {
    color: #fff;
    font-size: 65%;
  }
}
/* Para pantallas de 439px en adelante */
@media screen and (min-width: 439px) {
  .text_container p {
    color: #fff;
    font-size: 70%;
  }
}

@media screen and (min-width: 600px) {
  .text_container p {
    color: #fff;
    font-size: 80%;
  }
}

@media (min-width: 768px) {
  .container_section {
    flex-direction: column; /* Change from grid to column layout */
  }

  /* Additional changes for responsiveness (you can adjust as needed) */

  .section_text {
    padding: 20px; /* Increase padding for better readability */
  }

  .title span {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }

  .text_container p {
    color: #fff;
    font-size: 1rem;
  }

  .divider {
    width: 40px; /* Reduce divider width */
  }

  .text_container {
    height: auto; /* Remove fixed height */
  }

  .frase {
    width: 100%; /* Make quote span full width */
  }
}
