:root {
    --azul-marino: #0827c9;
    --azul-turquesa: #14cdb3;
    --bottones: #c90888;
    --text-general:'Roboto', sans-serif;
    --title-text:'Lora', serif;
    --bottom-text:'DM Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.aside_contain {
    position: absolute;
    top: 15px;
    left: 15px;
    width: fit-content;
    height: fit-content;
    color: #fff;
    z-index: 1; 
}

.menu {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    align-content: center;
    justify-self: flex-start;
    list-style: none;
    z-index: 1;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.menu .link,
li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    background-color: transparent;
    cursor: pointer;
}

.menu .link:hover{
    background-color: rgb(0, 0, 0, .75);
    color: #14cdb3;
    transition: 0.3s cubic-bezier(.33,.47,.76,.26);
}

.menu a {
    text-decoration: none;
    color: white;
}

.brand {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.brand span {
    color:#14cdb3;
}

/*Section Main*/

.container_section {
    position: relative;
    display: grid;
    padding-left: 100px;
    grid-template-columns: 500px 600px;
    grid-template-rows: 100vh;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #0827c9;
    background-image: linear-gradient(160deg, #0827c9 0%, #80D0C7 100%);   
}

.section_img {
    border: 5px solid #14cdb3;
    width: 100%;
    height: 95%;
    background-image: url("../assets/img/img_recortada_fondo.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container_section .section_text {
    width: 100%;
    height: 700px;
    background-color: rgb(53, 53, 53, .3);
    padding:0 15px;
}

.section_text .title {
    font-size: 2rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.section_text .title span {
    color: #14cdb3;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: #c90888;
    margin-top: 3px;
    margin-bottom: 2em;
}

.section_text .text_container {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.section_text article {
    display: flex;
    margin-top: 60px;
}

.barra {
    position: relative;
    width: 3px;
    height: 31px;
    background-color: #c90888;
    margin-left: 10px;
}

.frase {
    position: relative;
    width: 80%; 
}

.pStyle1 {
    text-align: left;
    color: #b4b2b2;
    font-style: italic;
    font-size: smaller;
    margin: 0 0 0 10px;
}

.pStyle2 {
    text-align: center;
    font-size: small;
    color: #d8d6d6;
    margin: 0;
}