:root {
    --azul-marino: #0827c9;
    --azul-turquesa: #14cdb3;
    --bottones: #c90888;
  }
.contact_section {
    width: 100vw;
    height: 100vh;
}

.contact_headings {
    margin: 5em;
}

.contact_headings h2 {
    font-size: 2em;
    color: #fff;
}

.divider {
    height: 4px;
    width: 60px;
    background-color:var(--azul-turquesa);
    margin-top: 3px;
    margin-bottom: 2em;
}

.contact_form {
    position: relative;
    display: block;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0827c9;
    background-image: linear-gradient(45deg, #0827c9 0%, #80D0C7 100%);
    border-radius: 25px;
    width: 520px;
    box-shadow: 0 0 7px rgb(7, 7, 7);
}

.contact_form h4 {
    position: relative;
    text-align: center;
    right: 115px;
    bottom: 25px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px 20px;
    width: 30rem;
    margin-bottom: 1em;
    border: none;
    color: #fff;
    background-color: transparent;
    border-bottom: 1px solid  var(--azul-marino) ;
}

textarea {
    height: 20%;
    background: transparent;
    width: 30rem;
    padding: 1.5em;
    color: #fff;
    border: 1px solid var(--azul-marino) ;
}

.btn_submit {
    /* display: flex; */
    padding: 10px 20px;
    width: 150px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color: var(--bottones);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    
}

.btn_submit:hover {
    background-color: var(--azul-marino);
    box-shadow: none;
    transition: ease-in .3s;
}