:root {
  --azul-marino: #0827c9;
  --azul-turquesa: #14cdb3;
  --bottones: #c90888;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: #7611ed;
}

.footer > small {
  text-align: end;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.footer_content h5 {
  font-size: 1.3rem;
  color: var(--azul-turquesa);
}

.footer_content h5:nth-child(2) {
  color: white;
  font-size: 0.9rem;
}

footer .hacia_arriba {
  text-decoration: none;
  color: var(--azul-turquesa);
}

footer .hacia_arriba:hover {
  transition: ease-in 0.3s;
  opacity: 0.7;
}

@media screen and (max-width: 725px) {
  .starHome {
    display: none;
  }
}
