:root {
  --azul-marino: #0827c9;
  --azul-turquesa: #14cdb3;
  --bottones: #c90888;
}

.menu {
  display: flex;
  width: 50dvw;
  justify-content: space-around;
}
.menu li {
  list-style: none;
}

.menu .navbar_li {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.menu .activo {
  color: var(--azul-turquesa);
  text-decoration: none;
  padding: 10px 20px;
}

.menu .navbar_li:hover,
.activo:hover {
  background-color: azure;
  color: var(--azul-marino);
  transition: ease-in 0.3s;
}

@media screen and (max-width: 768px) {
  .menu {
    width: 100%;
    margin-top: 1em;
  }

  .menu li {
    margin-bottom: 0.5em;
  }
}
