:root {
  --azul-marino: #0827c9;
  --azul-turquesa: #14cdb3;
  --bottones: #c90888;
  --font-family: 'Montserrat', sans-serif;
}

.especialidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 110vh;
}

.contain_icons {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-self: center;
}

.contain_icons ul {
  display: flex;
  width: auto;
  column-gap: 8rem;
  row-gap: 4rem;
  align-content: center;
  /* background-color: #ffffff; */

  border-radius: 30px;
}

.contain_icons ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_info {
  display: grid;
  align-self: center;
}

.about_info h2 {
  color: #ccd6f6;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: var(--azul-turquesa);
  margin-top: 3px;
  margin-bottom: 10px;
}

.especialidades p {
  margin-bottom: 1em;
  line-height: 23px;
}

ul li i {
  color: #7611ed;
  font-size: 9rem;
}

.express {
  font-size: 2.1rem;
  color: #7611ed;
}

@media screen and (max-width: 600px) {
  ul li i {
    font-size: 8rem;
  }
  .contain_icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .contain_icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Organizar elementos de forma vertical */
  }
}

@media screen and (max-width: 940px) {
  ul li i {
    font-size: 6.5rem;
  }
}

@media screen and (max-width: 976px) {
  ul li i {
    font-size: 5rem;
  }

  .express {
    font-size: 1.4 rem;
  }
}
