@import 'tailwindcss';
@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;
    --card: 0, 0%, 95%;
    --primary: 275, 96%, 52%;
    --primary-foreground: 210 40% 98%;
    --border: 214 32% 91%;
    --social-foreground: 213 31% 25%; /* Gris oscuro para el tema claro */
    --social-background: 0, 0%, 88%; /* Fondo semi-transparente para el tema claro */
    --text-gray: 0, 0%, 50%;
  }

  /* Variables de CSS para el tema oscuro */
  .dark {
    --background: 222 47% 4%;
    --foreground: 213 31% 91%;
    --card: 222 47% 8%;
    --primary: 275, 96%, 52%;
    --primary-foreground: 213 31% 91%;
    --border: 217 33% 20%;
    --social-foreground: 213 31% 75%; /* Blanco/Gris claro para el tema oscuro */
    --social-background: hsl(
      0,
      0%,
      8%
    ); /* Fondo semi-transparente para el tema oscuro */
    --text-gray: 0, 0%, 70%;
  }

  /* Aplica clases de Tailwind a elementos nativos */
  * {
    border-color: hsl(var(--border));
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-feature-settings: 'rlig' 1, 'calt' 1;
    overflow-x: hidden;
  }
}

/* Clases de utilidad personalizadas */
@layer utilities {
  .container-app {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (min-width: 640px) {
    .container-app {
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .container-app {
      max-width: 768px;
    }
  }
  @media (min-width: 1024px) {
    .container-app {
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px) {
    .container-app {
      max-width: 1280px;
    }
  }
  @media (min-width: 1400px) {
    .container-app {
      max-width: 1400px;
    }
  }

  /* .text-glow:hover {
    position: relative;
    transition-duration: 300ms;
    color: white;
    text-shadow: 0 0 10px #f8f8f8b9;
  } */

  .card-hover {
    transition-property: transform, box-shadow;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.01);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  .gradient-border {
    position: relative;
    border-radius: 0.375rem;
    background: linear-gradient(to right, hsl(var(--card)), hsl(var(--card)));
    background-clip: padding-box;
    border: 1px solid transparent;
  }
  .gradient-border-social {
    position: relative;
    color: rgba(255, 255, 255, 0.534);
    border-radius: 0.375rem;
    background: linear-gradient(to right, hsl(var(--card)), hsl(var(--card)));
    background-clip: padding-box;
    border: 1px solid white;
  }

  .cosmic-button {
    padding: 8px 24px;
    border-radius: 10px;
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
    font-weight: 600;
    text-align: center;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .cosmic-button:hover {
    transform: scale(1.05);
    opacity: 95%;
  }
  .cosmic-button:active {
    transform: scale(0.95);
  }

  .star {
    position: absolute;
    border-radius: 9999px;
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
  }

  /* Animación de flotar personalizada */

  .animate-float {
    animation: float 1s ease-in-out infinite;
  }
  /* Animación de pulso personalizado (parpadeo) */

  .animate-pulse-subtle {
    animation-name: subtle-pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
  }
  .social-button {
    color: hsl(var(--social-foreground));
    border: 2px solid hsl(var(--background) / 80);
    background-color: hsl(var(--card));
    opacity: 100%;
    transition: all 500ms ease;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 100%;
    padding: 10px;
  }
  .social-button:hover {
    background-clip: padding-box;
    color: hsl(var(--primary));
    border: 2px solid hsl(var(--primary));
    position: relative;
    transition-duration: 1.5ms;
  }

  /* ------------Loader Spinner------------ */
  .loader {
    display: block;
    position: relative;
    height: 12px;
    width: 80%;
    max-width: 400px; /* Le pongo un max-width para pantallas grandes */
    background: hsl(var(--card));
    opacity: 90%;
    border-radius: 10px;
    overflow: hidden;
  }

  .loader:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: hsl(var(--primary));
    /* Ajusté la animación para que coincida con el setTimeout de 2500ms */
    animation: 2500ms prog ease-in forwards;
  }
  /* ---------------------Loader Word-------------------- */

  .load_word {
    color: hsl(var(--foreground));
    position: relative;
    display: block;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    letter-spacing: 4px;
    box-sizing: border-box;
  }
  .load_word::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    right: 70px;
    bottom: 20px;
    height: 25px;
    width: 5.15px;
    background: currentColor;
  }
  .load_word::after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    left: 125px;
    top: 2px;
    border-radius: 50%;
    background: hsl(var(--primary));
    box-sizing: border-box;
    animation: animloader 1s ease-in infinite;
  }

  @keyframes animloader {
    0% {
      transform: translateY(8px) scaleY(1) scaleX(1.25);
    }
    25%,
    75% {
      transform: translateY(-5px) scaleY(1.2) scaleX(1);
    }
    50% {
      transform: translateY(-10px) scaleY(1) scaleX(1);
    }
    100% {
      transform: translateY(8px) scaleY(0.8) scaleX(0.8);
    }
  }

  @keyframes prog {
    to {
      width: 100%;
    }
  }
  @keyframes subtle-pulse {
    0%,
    100% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes float {
    0%,
    100% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(0px);
    }
  }
}
